/* Will be compiled down to a single stylesheet with your sass files */
html, body {
  background-color: #FFF;
}

.slash {
  margin-left: 5px;
  margin-top: 20px;
  font-size: 70px;
  color: gray;
}

.night, .day {
  margin-left: 44px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}
.night {
  margin-left: 38px;
}

div .legend {
  width:128px;
  height:64px;
}


div .red_legend {
  background-color: #FF9700;
  margin-left: 40px;
  border-radius: 35px;
}

div .blue_legend {
  background-color: blue;
  margin-left: 10px;
  border-radius: 35px;
}



/*
  person search
*/
.person-search {
  width: 940px;
  height: 800px;
  background-color: white;
  color: gray;
}
.person-search span.red {
  color: red;
}

text.events {
  fill: #fff;
  font-size: 15;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 0.5em blue, 0 0 0.2em blue;
  text-anchor: middle;
  vertical-align: middle;
}
circle.nightOwl { fill_color: #3229d2; }
circle.dayTripper { fill_color: #FF9700; }


/*
  initial search area
*/
.initial-search {
  width: 100%;
}
h1 {
  line-height: 70px;
  color: gray;
}
.initial-search input[type="text"] {
  font-size: 30px;
  padding: 20px;
  line-height: 30px;
  width: 585px;
}
.nav {
  padding: 22px 0 22px 0;
  width: 460px;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #E8E8E8;
  background-color: white;
  border-style: none;
}
.initial-search input[type="submit"] {
  padding: 22px;
  width: 270px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  background-color: red;
  border-style: none;
  float: right;
}



/*
  secondary search area
*/
.nth-search {
  width: 100%;
}
.nth-search input[type="text"] {
  font-size: 30px;
  padding: 20px;
  line-height: 30px;
  width: 585px;
}
.nth-search button {
  padding: 22px 22px 22px 0;
  width: 260px;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: rgb(226, 226, 226);
  background-color: white;
  border-style: none;
}
.nth-search input[type="submit"] {
  padding: 22px;
  width: 270px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  background-color: #E8E8E8;
  border-style: none;
  float: right;
}

/*
  User Github d3
*/
.player-chart {
  width: 100%;
}
.chart-buttons {
  width: 100%;
  margin-top: 22px;
}
.chart-buttons button.showGroup {
  padding: 22px;
  width: 310px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  background-color: red;
  border-style: none;
}
.chart-buttons button.showSeparate {
  padding: 22px;
  margin-left: 10px;
  width: 310px;
  font-size: 36px;
  font-weight: bold;
  background-color: red;
  color: white;
  border-style: none;
}



/*
  Repo Search
*/
.repo-search {
  width: 100%;
}
.repo-search input[type="text"] {
  font-size: 30px;
  padding: 20px;
  line-height: 30px;
  width: 26.8%;
}
.repo-search input[type="submit"] {
  padding: 22px;
  float: right;
  width: 270px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  background-color: red;
  border-style: none;
}
.repo-search .right {
  margin-left: 11px;
}
.mapContainer {
  margin-top: 33px;
  width: 900px;
}
.cityListing {

}





input[type="submit"].light {
  background-color: #E8E8E8;
}
