<!-- <div class="hero-unit">
  <h1>App Home</h1>
  <hr>
  <a href="#/people">Visualize Git Users</a>
  <hr>
  <a href="#/repos">Visualize Popular Repos</a>
  <gitvis val="data"></gitvis>
</div> -->

<div class="repo-search">
  <h1>
    How does open source grow?
  </h1>
  <input type="text" class="search-bar" ng-model="gitUser" placeholder="mbostock">
  <input type="text" class="search-bar right" ng-model="gitRepo" placeholder="d3">
  <a href="#/people"><button class="nav">see more</button></a>
  <input type="submit" class="search-button"  ng-click="searchForRepo(gitUser, gitRepo)" value="Find out">
</div>

<div ui-if="repoFound">
  <gitvis val="data"></gitvis>
</div>