<div class="person-search">

  <div ui-if="firstSearch" class="initial-search">
    <a href="#/"><button class="nav">go to repos</button></a>
    <form>
      <h1>wat does your git history look like?</h1>
      <input type="text" class="search-bar" ng-model="gitUser" placeholder="your git name">
      <input type="submit" class="search-button"  ng-click="searchForUser(gitUser)" value="find out">
    </form>
  </div>

  <div ui-if="beyondFirstSearch" class="nth-search">
    <a href="#/"><button class="nav">go to repos</button></a>
    <form>

      <div ui-if="findingPlayer">
        <h1>finding {{user}}...</h1>
        <input type="text" class="search-bar" ng-model="gitUser" placeholder="find someone else">
        <input type="submit"  ng-click="searchForUser(gitUser)" value="finding...">
      </div>

      <div ui-if="personReady">
        <h1>this is {{user}}</h1>
        <input type="text" class="search-bar" ng-model="gitUser" placeholder="find someone else">
        <input type="submit"  ng-click="searchForUser(gitUser)" value="find">
      </div>

    </form>
  </div>

  <div ui-if="personReady">
    <hr>
    <player></player>
  </div>

</div>